# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env

# SQLite DB
*.db

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor directories and files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
